@charset "UTF-8";

@media (max-width: 425px){
    div#botoes .bt01 {
        display: block;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    div#botoes .bt02 {
        display: block;
    }

    header p {
        padding-left: 3vw;
        padding-right: 3vw;
    }
}